@import "../../../style.scss";

.rightbar {
    @include themify ($themes) {
        flex: 3;
        position: sticky;
        top:70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bgSoft");
        color: themed("textColor");
        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            .item {
            
                box-shadow: 11px 13px 17px -9px rgba(0,0,0,0.38);
                -webkit-box-shadow: 11px 13px 17px -9px rgba(0,0,0,0.38);
                -moz-box-shadow: 11px 13px 17px -9px rgba(0,0,0,0.38);
                padding: 20px;
                margin-bottom: 20px;
                background-color: themed("bg");
                border-radius: 20px;
                
                span{
                    color: themed("textColor");
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;
                    position: relative;
                    .userInfo {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .online {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: limegreen;
                            position: absolute;
                            top:0;
                            left: 30px;
                        }

                        p{
                            color: themed("textColor");
                        }

                        span {
                            font-weight: 500px;
                            color: themed("textColor");
                            cursor: pointer;
                            &:hover {
                                color: themed("textColorh");
                              }
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button {
                            border: none;
                            padding: 5px;
                            color:themed("textColor");
                            cursor: pointer;

                            &:first-child {
                                background-color: #5271ff;
                                &:hover {
                                    background-color: #50c9db;
                                    color: #051416;
                                  }
                            }

                            &:last-child {
                                background-color: #f05544;
                                &:hover {
                                    background-color: #50c9db;
                                    color: #051416;
                                  }
                            }
                        }
                    }
                }
            }
        }
    }
}